[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-yankstack"]
	path = bundle/vim-yankstack
	url = git://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule "bundle/ledger"]
	path = bundle/ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
